* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 48px;
}

body {
    font-family: Inter, sans-serif;
    background-color: #191919;
}

body h1,
li {
    color: #dadada;
    font-family: Inter, sans-serif;
}

p {
    color: #919191;
    font-family: Poppins, sans-serif;
    font-size: 16px;
}

h2 {
    color: #dadada;
    text-align: center;
    font-family: Poppins, sans-serif;
    font-size: 28px;
    word-spacing: 8px;
}

h3 {
    color: #dadada;
    text-align: center;
    font-size: 22px;
    word-spacing: 8px;
    font-family: Inter, sans-serif;
    font-weight: normal;
}

h4 {
    color: #dadada;
    text-align: center;
    font-size: 22px;
    word-spacing: 8px;
    font-family: Inter, sans-serif;
    font-weight: normal;
}

a,
label,
span {
    color: #dadada;
    font-family: Poppins, sans-serif;
    font-size: 16px;
}

a :hover {
    color: #f5f5f5;
}

.hero-main {
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-repeat: no-repeat;
    background-image: url('../imagens/hero-background-img.jpg');
}

.hero-main header {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    padding: 32px 0 16px 0;
    background-color: rgba(25, 25, 25, 0.5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

header span {
    color: #dadada;
    font-family: Inter, sans-serif;
    font-size: 24px;
}

header .container {
    max-width: 1100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav {
    display: flex;
    align-items: center;
}

header .menu li {
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 24px;
    list-style-type: none;
}

header li a {
    text-decoration: none;
    font-size: 18px;
}

header li a:hover {
    color: #f5f5f5;
    text-decoration: none;
}

.CTA {
    background: #919191;
    color: #191919;
    padding: 4px 16px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.CTA:hover {
    background: linear-gradient(300deg, #f12711, #f5af19);
    ;
}

header #social-links {
    display: flex;
    align-items: center;
}

header #social-links li {
    display: inline;
    list-style-type: none;
    height: 24px;
    margin-left: 12px;
    margin-right: 0;
}

header #social-links li img {
    height: 24px;
}

#hero-section {
    height: 500px;
    padding-top: 184px;
}

#hero-section .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(25, 25, 25, 0.5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 16px;
    padding: 32px;
    border: 1px solid #d1d1d1;
}

#hero-section h1 {
    color: #d1d1d1;
    font-size: 32px;
    font-family: Poppins, sans-serif;
    word-spacing: 8px;
}

#hero-section span {
    font-size: 32px;
    background: linear-gradient(300deg, #f12711, #f5af19);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#hero-section .gradient-border {
    background: linear-gradient(180deg, #f12711, #f5af19);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    /* gradiente da borda */
    padding: 5px;
    /* espessura da borda */
    border-radius: 50%;
    /* forma circular */
    display: inline-block;
    margin-left: 64px;
}

#hero-section img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-image: url('./imagens/Pablo-Souza-imagem-Perfiljpg');
    background-size: cover;
    background-position: center;
}

section {
    padding: 48px 0;
}

.title-section {
    padding-bottom: 48px;
}

.title-section h2 {
    margin-bottom: 16px;
}


.title-section p {
    color: #919191;
    text-align: center;
    font-size: 22px;
    word-spacing: 8px;
    font-family: Poppins, sans-serif;
    font-weight: normal;
}

#tech-stack {
    width: 100%;
    height: 500px;
    background-color: #191919;
    border-top: 1px solid #d1d1d1;
}

#content-logos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(4.8%, 1fr));
    column-gap: 5.2%;
    row-gap: 22%;
    height: 200px;
    margin-top: 32px;
}

li {
    list-style-type: none;
}

#tech-stack li img {
    width: 100%;
    height: auto;
}

.container {
    width: 1100px;
    margin: 0 auto;
}

.articles {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    column-gap: 3.33%;
    row-gap: 40px;
}

.articles article {
    border-radius: 5%;
    background-color: #363636;
}

.articles article div {
    background-color: #363636;
    padding: 16px 16px;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
}

.articles article img {
    width: 100%;
}

.articles article h3 {
    margin: 8px 0;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}

article footer {
    display: flex;
    margin-top: 32px;
    justify-content: space-between;

}

.botao-link,
.organization-link {
    white-space: nowrap;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    /* espaço entre o ícone e o texto */
}

article footer img {
    height: 24px;
}

.articles article a {
    padding: 8px;
    font-weight: bolder;
    text-decoration: none;
    border-radius: 4px;
}

.articles article a:hover {
    text-decoration: underline;
    border: none;
}

.articles article p {
    text-align: justify;
    font-size: 16px;
}

.content {
    min-width: 600px;
    width: 70%;
    margin: auto auto;
    margin-top: 16px;
}

.content-job {
    margin-top: 32px;
}

.content-about-title {
    margin-bottom: 32px;
}

#content-education-icon,
#content-work-icon {
    display: flex;
    align-items: center;
}

#content-education-icon img,
#content-work-icon img {
    height: 32px;
    margin-right: 16px;
}

/*
#content-work-icon {
    width: 40%;
}

#content-education-icon {
    width: 28%;
}
*/

.about-title {
    color: #d1d1d1;
    font-size: 28px;
    text-align: center;
    font-family: Inter, sans-serif;
    font-weight: bolder;
}

.content-job-name {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.job-name {
    font-size: 22px;
}

.job-time {
    color: #919191;
    font-size: 14px;
    background: #363636;
    padding: 4px 24px;
    border-radius: 20px;
    font-weight: bold;

}

.job-data {
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 16px;
}

.job-data img {
    height: 16px;
}

.job-data a {
    text-decoration: none;
    cursor: default;
}

.job-data .organization-link {
    text-decoration: none;
    cursor: pointer;
}

.job-data .organization-link:hover {
    text-decoration: underline;
    cursor: pointer;
}

.job-data a span {
    color: #919191;
}

.job-data a:not(:last-child) {
    margin-right: 10%;
}

.job-data a:last-child {
    position: absolute;
    right: 0%;
}

.line {
    display: flex;
    gap: 72px;
    margin-bottom: 32px;
}

.field {
    flex: 1;
    display: flex;
    flex-direction: column;
}

input {
    padding: 8px;
    font-size: 16px;
}

label {
    margin-bottom: 8px;
    word-spacing: 4px;
}

/*
.solutions input {
    transform: scale(1.5);
    margin: 16px 4px 8px 0;
}

.solutions input:not(:first-child) {
    margin-left: 16px;
}
*/
.solutions {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10%;
    margin: 16px auto;
}

.solutions input,
.price-zone input {
    transform: scale(1.5);
    margin: 12px 8px;
}

.price-zone {
    padding: 16px 0;
}